body {
     background-image: url("https://img.freepik.com/free-vector/orange-question-mark-background-with-text-space_1017-27394.jpg?w=740&t=st=1671529231~exp=1671529831~hmac=e75b00d90833cbfce433061a9da8ddc1a087dae4701f1789bf36d66feaf62513");
     background-repeat: no-repeat;
     background-size: cover;
     color:black;
}

#id1{
     background-color: #0a53be;
}


