<!DOCTYPE html>
{% load static %}
{%block content%}
     <link rel="stylesheet" href="{% static 'css/Quiz.css'%}">
<div class="container jumbotron" align="center" style="background-color: ">
    <form method="POST" action="">
        {% csrf_token %}
        <p><input type="text" name="username" placeholder="Username..."></p>
        <p><input type="password" name="password" placeholder="Password..."></p>
        <input class="btn btn-success" type="submit" value="login">
        <p>Do not have an account?<a href="{% url 'register' %}">Register</a> </p>
    </form>
</div>
{% endblock %}

